*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monospace', 'Lucida Sans';
    }
    body{
    margin: 0;
    padding: 0;
    background: url(bkground.webp) no-repeat;
    background-size: cover;
    }
    .box{
      border-radius: 10%;
    width: 450px;
    background: rgba(0, 0, 0,0.8);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Monospace', 'Lucida Sans';
    }
    .box-img{
    border-radius: 20%;
    width: 230px;
    height: 200px;
    }
    .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom:40px;
    }
    .box h5{
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 100;
    margin: 20px 0;
    }
    .box p{
    text-align: justify;
    }
    ul{
    margin: 0;
    padding: 0;
    }
    .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
    }
    .box li a{
    color: rgb(53, 140, 68);
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
    }
    .box li a:hover{
    color: #b9b9b9;
    }
